<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107303429290-p8m616l418vvgaai4dfusdfvtoeeq2kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107303429290-p8m616l418vvgaai4dfusdfvtoeeq2kh</string>
	<key>API_KEY</key>
	<string>AIzaSyDMicxuevCjbmmYBi5PeDq_vSYymLOWUsM</string>
	<key>GCM_SENDER_ID</key>
	<string>107303429290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentcar.theeb</string>
	<key>PROJECT_ID</key>
	<string>theeb-ir-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>theeb-ir-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107303429290:ios:bcb701d88f890feb</string>
	<key>DATABASE_URL</key>
	<string>https://theeb-ir-fcm.firebaseio.com</string>
</dict>
</plist>